<div id="<%= dom_id product %>" class="mb-5">
<div class="card" style="width: 18rem;">
<img src="<%= product.image %>" class="card-img-top">
<div class="card-body">
  <h5 class="card-title"><%= product.name %></h5>
  <p class="card-text"><%= product.description %></p>
  <p><strong>Preço: </strong>R$<%= product.price %></p>
  <p><strong>Quantidade: </strong><%= product.quantity %></p>
  <p><strong>Categoria: </strong><%= product.category %></p>
  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
</div>
</div>

</div>
